version:  0.1.0

services:
  frontend:
    build: .            # path to folder with Dockerfile and package.json
    ports:
      - "3000:3000"
    volumes:
      - .:/app  
      - /app/node_modules
    stdin_open: true
    tty: true
    environment:
    - CHOKIDAR_USEPOLLING=true    # <-- ensures hot reload works in Docker
    command: npm start
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    command: npm run dev       # nodemon for hot reload
    depends_on:
      - db

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
